HIGH_PRIORITY_QUEUE_URL=https://sqs.REGION.amazonaws.com/ACCOUNT_ID/HighPriorityQueue
NORMAL_QUEUE_URL=https://sqs.REGION.amazonaws.com/ACCOUNT_ID/NormalQueue
MOVE_TO_PROCESSED=false
PROCESSED_PREFIX=processed/
ALLOWED_ORIGIN=https://YOUR_CLOUDFRONT_DOMAIN
